.latestNewsBox {
  display: flex;
  flex-direction: row;
  margin: 10px 0;

  &-image {
    margin-right: 10px;

    border-radius: var(--radius-32);
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px 10px 10px;

    &-title {
      cursor: pointer;
      margin-bottom: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
