.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
  user-select: unset;
  animation: openComment 0.2s ease;
  width: 100%;

  &-user {
    transform: scale(1.5);
    margin: 1rem;
    min-width: 2rem;
    
  }

  &::before {
    content: "";
    min-width: 3px;
    height: 90px;
    background: var(--color-gradient);
    border-radius: 1rem 5rem;
  }

  &-info {
    h4 {
      font-weight: 400;
    }

    p {
      padding: 0.2rem 0;
      line-height: 1.6;
      text-indent: .1rem;
      font-size: 1.15rem;
    }

    &-actions {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 0.4rem;

      &-comment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--color-border);
        padding: 0.5rem;
        background-color: unset;
        cursor: pointer;
        color: var(--color-paragraph);
        margin-left: 2rem;
        border-radius: var(--radius-8);
        font-family: var(--font-family);
        

        &> :first-child {
          margin-right: 0.5rem;
        }
      }

      &-emotion {
        div {
          display: inline-flex;
          flex-direction: row;
          align-items: center;
        }

        button {
          align-items: center;
          border: none;
          padding: 0.5rem 0.7rem;
          background-color: unset;
          cursor: pointer;
          color: var(--color-paragraph);
          margin: 0 0.1rem;
        }

        small {
          font-weight: 400;
        }

        &-proportion {
          height: 2px;
          width: 110%;
          background-color: var(--color-paragraph-2);

          &-bar {
            height: 2px;
            width: 110%;
            background-color: var(--color-heading);
          }
        }
      }
    }
  }
}

.replies {
  margin-left: 3rem;

  &-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    small {
      font-weight: 600;
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
      background: var(--color-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &> :nth-child(2) {
      margin-left: 1rem;
    }
  }
}

@keyframes openComment {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}