.postItem {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-18);
    // border-block: .1rem solid var(--color-paragraph-2);
    min-width: 100%;
    height: 24rem;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
    box-shadow: var(--box-shadow-30);
    z-index: 3;

    &:hover {
        transform: translateY(-3px);
    }

    &-content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        background: var(--blog-gradient);
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &-meta {
            line-height: 20px;

            &-minutes {
                color: var(--color-heading);
            }
        }

        &-title {
            margin: 12px 0 12px;
            font-family: "Poppins-ExtraBold";
            font-weight: 900;
            line-height: 1;
            letter-spacing: -.1rem;
        }

        &-excerpt {
            margin-bottom: 12px;
            line-height: 17px;
            color: var(--color-paragraph-2);
        }

        &-bottom {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            &-writer {
                display: flex;
                flex-direction: row;
                align-items: center;

                &-pic {
                    border-radius: 50%;
                    border: solid 0.15rem var(--color-error);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 40px;
                    padding: 3px;
                    margin: 5px;

                    &-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        overflow: hidden;
                        height: 100%;
                        width: 100%;
                    }
                }

                &-name {
                    white-space: nowrap;
                }
            }
        }
    }
}