.stickyBarItem {
    display: flex;
    flex-direction: row;

    &-box {
        font-size: 1.125rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: var(--radius-12);
        -webkit-box-shadow: var(--box-shadow-30);
        box-shadow: var(--box-shadow-30);
        line-height: 1;
        margin-right: 1rem;
        height: 3rem;
        width: 3rem;
        background: var(--color-gradient-border);
        padding: 30px;
        position: relative;
        z-index: 0;
        padding: 1px;
        font-style: italic;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--color-gradient-icon);
            height: 100%;
            width: 100%;
            border-radius: var(--radius-12);

            &-img {
                filter: var(--svg-color);
            }
        }
    }

    &-info {
        display: flex;
        flex-direction: column;

        &-label {
            color: var(--color-paragraph);
            font-size: 0.75rem;
            font-weight: 400;
            display: block;
            opacity: .7;
            text-transform: uppercase;
        }

        &-content {
            color: var(--color-heading);
            -webkit-text-fill-color: inherit;
            text-decoration: none;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 1.65;
            font-size: 0.875rem;
        }
    }
}