.title {
    padding-bottom: .4rem;
    margin-bottom: 2.3125rem;
    position: relative;
    display: block;

    h1 {
        text-transform: capitalize;
        letter-spacing: -1px;

        &::before {
            content: '';
            background: var(--color-gradient);
            border-radius: 0.5rem;
            height: 0.3125rem;
            position: absolute;
            bottom: -1.0625rem;
            left: 0;
            width: 2.5rem;
            z-index: 1;
        }
    }
}