.reply {
  &-box {
    max-width: 100%;
    min-width: 100%;
    margin: 0.6rem 0;
    width: 100%;
    background: var(--color-surface-2);
    padding: 1rem;
    border: none;
    border-radius: var(--radius-32);
    font-family: var(--font-family);
    text-indent: 0.6rem;
    min-height: 10rem;
    max-height: 25rem;
    color: var(--color-paragraph);

    &::placeholder {
      text-transform: uppercase;
      font-weight: 600;
      font-style: italic;
    }
  }
  &-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * {
      margin: 0.6rem 0;
      width: 49%;
      background: var(--color-surface-2);
      padding: 1rem;
      border: none;
      border-radius: var(--radius-32);
      max-width: 100%;
      font-family: var(--font-family);
      color: white;
      text-indent: 0.6rem;

      &::placeholder {
        text-transform: uppercase;
        font-weight: 600;
        font-style: italic;
        text-indent: 0.6rem;
      }
    }
  }

  &-postComment {
    float: right;
    border: none;
    background: var(--color-gradient);
    margin: 0.2rem;
    padding: 0.7rem 1rem;
    border-radius: var(--radius-12);
    cursor: pointer;
  }
}
