.button {
  margin: 1rem 0 1rem 0;
  display: block;
  border: none;
  visibility: hidden;
  border-radius: var(--radius-8);
  overflow: hidden;
  border-radius: 0.2rem;

  &-span {
    display: block;
    min-width: 150px;
    max-width: fit-content;
    visibility: visible;
    background-color: var(--color-surface-2);
    border: 2px solid var(--color-paragraph);
    border-radius: 0.2rem;
    color: var(--color-accent);
    font-weight: 800;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-transform: capitalize;
    border: solid 1px var(--color-border);

    &:hover {
      background: var(--color-accent);
      color: var(--color-gradient-text);
      cursor: pointer;
    }
  }
}
