.blog {
  background-color: var(--color-surface-1);
  height: fit-content;

  &-hero {
    height: 70vh;

    &-img {
      z-index: 0;
      position: absolute;
    }

    &-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background: var(--blog-gradient);
    }

    &-content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      z-index: 2;
      top: 40%;
    }
  }
  &-tags {
    max-width: 50%;

    @include respond(tablet) {
      max-width: 100%;
    }
  }
}
