Django>=3.2.11
gunicorn
psycopg2-binary
graphene-django
django-filter
django-cors-headers 
Pillow
django-ckeditor
django-cleanup
django-extensions
django_seed
sendgrid
django-user-visit
django-phonenumber-field[phonenumbers]
tweepy[async]
django-sendgrid-v5
whitenoise