.homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding-top: 0;
    padding-bottom: 0;
    
    @include respond (tablet) {
        flex-direction: column;
        padding: 0 !important;
    }

    &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        border: 3px solid var(--color-accent);
        border-radius: 50%;
        margin: 10rem; 

        &-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 50%;
            height: 25rem;
            width: 25rem;
        }
    }

    &-story {
        width: 90%;
    }
}