.scrollUpButton {
    display: none;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    transform: scale(1.5);
    border: none;
    background-color: var(--color-surface-2);
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s ease-in;

    @include respond(tablet) {
        display: none !important;
    }

    &:hover {
        transform: scale(2);
    }

    span {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .6rem;
        color: var(--color-accent);

        &>* {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(.2rem);
        }
    }
}